/* Container */
.projects-container {
  margin: 0 auto;
  padding-top: 8rem;
  padding-left: 1rem;
  padding-right: 1rem;
    color: #0ea5e9; 
    font-weight: bold;
  }
  
  /* Grid Layout */
  .projects-grid {
    display: flex;
    gap: 10px; 
    grid-template-columns: repeat(1, 1fr); 
  }
  
  .projects-grid .card {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media (min-width: 768px) {
    .projects-grid {
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media (min-width: 1024px) {
    .projects-grid {
      grid-template-columns: repeat(3, 1fr); 
    }
  }
  